<div class="nav">
    <div class="container">
        <div class="flex nav-box">

            <div class="box-logo flex">
                <div class="logo">
                    <a href="index.html">
                        <img src="resources/img/logo.svg" alt="Rz">
                    </a>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search...">
                    <i class="ion-ios-search-strong"></i>
                </div>
            </div>

            <ul class="nav-items flex">
                <li>
                    <a href="#" class="active">Home</a>
                </li>
                <li>
                    <a href="tutorials.html">Tutorials</a>
                </li>
                <li>
                    <a href="stories.html">Stories</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
            </ul>

        </div>
    </div>
</div>