<!-- SUBS -->
<section class="subscribe-section">
    <h2>Subscribe</h2>
    <form action="" class="form-subs flex vertical">
        <input type="text" size="17" placeholder="Your Email" class="txt-input">
        <input type="submit" value="Submit" class="submit ">
    </form>
</section>

<!-- POPULAR -->
<section>
    <h2>Popular Stories</h2>

    <div class="popular-item flex">
        <div class="number">
            1
        </div>
        <div class="popular-title">
            <a href="#">
                <p class="pop-title">Mencari Uang dari Freelance</p>
                <p class="date">12/12/2017</p>
            </a>
        </div>
    </div>
    <div class="popular-item flex">
        <div class="number">
            2
        </div>
        <div class="popular-title">
            <a href="#">
                <p class="pop-title">Mencari Uang dari Freelance</p>
                <p class="date">12/12/2017</p>
            </a>
        </div>
    </div>
    <div class="popular-item flex">
        <div class="number">
            3
        </div>
        <div class="popular-title">
            <a href="#">
                <p class="pop-title">Mencari Uang dari Freelance</p>
                <p class="date">12/12/2017</p>
            </a>
        </div>
    </div>
    <div class="popular-item flex">
        <div class="number">
            4
        </div>
        <div class="popular-title">
            <a href="#">
                <p class="pop-title">Mencari Uang dari Freelance</p>
                <p class="date">12/12/2017</p>
            </a>
        </div>
    </div>
    <div class="popular-item flex">
        <div class="number">
            5
        </div>
        <div class="popular-title">
            <a href="#">
                <p class="pop-title">Mencari Uang dari Freelance</p>
                <p class="date">12/12/2017</p>
            </a>
        </div>
    </div>
</section>
<!-- STATIC PART -->
<section class="side-section">
    <h2>Tutorials</h2>
    <div class="flex vertical">

        <div class="tutor-part flex v-center">
            <div class="tutor-logo">
                <i class="ion-social-android"></i>
            </div>
            <div class="flex-1">
                <a href="#">
                    <p class="part">Android</p>
                    <p>100 Posts</p>
                </a>
            </div>
        </div>

        <div class="tutor-part flex v-center">
            <div class="tutor-logo">
                <i class="ion-ios-world"></i>
            </div>
            <div class="flex-1">
                <a href="#">
                    <p class="part">Web</p>
                    <p>55 Posts</p>
                </a>
            </div>
        </div>
        <div class="tutor-part flex v-center">
            <div class="tutor-logo">
                <i class="ion-ios-calculator"></i>
            </div>
            <div class="flex-1">
                <a href="#">
                    <p class="part">Computer Science</p>
                    <p>55 Posts</p>
                </a>
            </div>
        </div>

    </div>

</section>