<div class="container">
    <div class="row">
        <!-- main content -->
        <div class="col-md-8 main">
            <section class="about">
                <h2>About Me</h2>
                <div class="row v-center about-box">
                    <div class="col-md-3 pp-box flex h-center">
                        <img src="resources/img/pp.png" alt="Riza" class="pp">
                    </div>
                    <div class="col-md-9 quote-box">
                        <p class="quote">
                            Yolloooo, My name is Ahmad Riza and I'd like to share my whole story and knowledge to you. Hope it will be useful for every
                            one here :)
                        </p>
                        <p class="name-quote">
                            Ahmad Riza
                        </p>
                    </div>
                </div>
                <div class="row socmed h-center">
                    <div class="gg">
                        <a href="#" class="center">
                            <i class="ion-social-google soc-icon"></i>
                        </a>
                    </div>
                    <div class="fb">
                        <a href="#" class="center">
                            <i class="ion-social-facebook soc-icon"></i>
                        </a>
                    </div>
                    <div class="tw">
                        <a href="#" class="center">
                            <i class="ion-social-twitter soc-icon"></i>
                        </a>
                    </div>
                    <div class="gh">
                        <a href="#" class="center">
                            <i class="ion-social-github soc-icon"></i>
                        </a>
                    </div>
                </div>
            </section>

        </div>
